<header>
    <nav  class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">北京跨越速递测试开发平台</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li class="active" ><a href="/" >首页</a></li>
                    <li><a href="/interface">接口测试</a></li>
                    <li><a href="/function">功能测试</a></li>
                    <li><a href="/performance">性能测试</a></li>
                    <li><a href="/monitor">机器监控</a></li>
                </ul>
            </div>

        </div>

    </nav>
</header>